//fade in out
//deem 공용 cf: modal
.fade-ani-enter-active{transition: all .25s ease-out;}
.fade-ani-leave-active {transition: all .25s ease-in;}
.fade-ani-enter,
.fade-ani-leave-to {opacity: 0;}

//slide-down cf: cpp sub_top
.slide-down-enter-active{transition: all .25s .05s ease-in-out;}
.slide-down-leave-active {transition: all .25s ease-in-out;}
.slide-down-enter, 
.slide-down-leave-to{transform:translateY(-100%)}

//slide-up cf: 전체 modal
.slide-up-enter-active{
    transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                opacity .15s linear;
}
.slide-up-leave-active {
    transition: transform .3s ease-out,
                opacity .15s .2s linear;
}
.slide-up-enter, 
.slide-up-leave-to{
    transform:translateY(100%);
    opacity: 0;
}

//토스트
// https://cubic-bezier.com/#.47,1.64,.41,.8
.toast-up-enter-active{transition: all .4s cubic-bezier(.47,1.64,.41,.8);}
.toast-up-leave-active {transition: all .25s ease-in;}
.toast-up-enter{opacity: 0;transform: translateY(50px)}
.toast-up-leave-to {opacity: 0;}



//찜 하트 에니메이션
@keyframes wish_off {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.3);
    }
    80% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wish_on {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.3);
    }
    80% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

//sub bottom btn active interaction
@keyframes activeEffect{
    0%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
    }
    90%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }
    100%{
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(1)
    }
}
