// 좌우 여백 있는 스와이퍼
.comp_exhibition_list{
    padding:0 16px 24px;
    .list{
        position: relative;
        display: flex;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        border: solid 1px $color-f0;
        + .list{margin-top: 8px;}
        &::after{
            content: "";
            position: absolute;
            right:12px;
            top:50%;transform: translateY(-50%);
            width:16px;
            height:16px;
            background: svg-icon(arr_ltr_16, aaa);
        }
        .img_wrap{
            flex:0 0 78px;
            height:78px;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
        .info{
            display: inline-flex;
            justify-content: center          ;
            flex-direction: column;
            padding:0 44px 3px 17px;
            flex:1 1 'auto';
            overflow: hidden;
            p{@include single-ellipsis}
            .name{
                font-size: 16px;
                font-weight: $fw-bold;
                line-height: 1.5;
                color: $gray2;
            }
            .desc{
                margin-top: 2px;
                font-size: 13px;
                line-height: 1.38;
                color: $gray8;
            }
        }
    }
}
