.comp_star_rating {
    display: flex;
    i {
        width: 12px;
        height: 12px;
        margin-right: 2px;
        background: url($s3-path + 'img/m/m_icon/icon-star-yellow-off.svg') no-repeat
            center;
        background-size: cover;
    }
    @for $i from 1 through 5 {
        &.star#{$i} {
            @for $j from 1 through $i {
                i:nth-child(#{$j}) {
                    background: url($s3-path + 'img/m/m_icon/icon-star-yellow-on.svg')
                        no-repeat
                        center;
                    background-size: cover;
                }
            }
        }
    }
}

