.b_textarea_limit_box {
    width: 100%;
    padding: 0;
    border-radius: 4px;
    border: 1px solid $grayd;
    overflow: hidden;
    textarea {
        width: 100%;
        height: 49px;
        padding: 10px 11px 0 11px;
        font-size: 14px;
        line-height: 1.5;
        color: $gray2;
        outline: none;
        border: none;
        resize: none;
        @include place-holder() {
            font-size: 14px;
            line-height: 1.5;
            color: $grayc;
        }
    }
}
.limit_length {
    display: block;
    padding: 2px 11px 7px;
    height: 27px;
    font-size: 12px;
    line-height: 1.5;
    text-align: right;
    color: $graya;
    .current {
        font-size: inherit;
        color: $gray5;
    }
}
