.drawer_navigation{
    position: fixed;
    left: 0;
    transform: translateX(100%);
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
    bottom: 0;
    width: 100%;
    z-index: 99990;
    // transition: transform .6s cubic-bezier(0.45, 0, 0, .85);
    // -webkit-transition: transform .6s cubic-bezier(0.45, 0, 0, .85);
    background: $white;
    overflow-y: auto;
    padding-bottom: 40px;
    @include hide-scroll();
    &.active{transform: translateX(0);}
    .drawer_header{
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 8px 0 16px;
        height:52px;
        z-index: 100;
        width: 100%;
        top:0;
        background: $white;
        .name{
            display: flex;
            justify-content: center;
            padding:5px 0;
            font-size: 17px;
            font-weight: $fw-semibold;
            color: #1f1f2c;
            white-space: nowrap;
            .comp_icon_lnb_arrow_r{margin-left: 4px;}
        }
        .icons{
            display: flex;
            i{
                width:40px;
                height:40px;
                margin-left: 4px;
            }
        }
    }
    .direct_menu{
        display: flex;;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 24px 12px 8px;
    }
    .page_title{padding:24px 16px 16px;}
    .shortcut_menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px 12px 8px;
    }
    .direct_icon{
        width:64px;
        margin:0 10px 18px;
        @include little-small-mobile{width:25%;margin:0 0 16px;}
        @include little-big-mobile{width:25%;margin:0 0 16px;}
    }
    .brand_container{
        position: relative;
        top: -4px;
        padding:0 16px;
        .tab{
            border-bottom: 1px solid $color-f0;
            margin-bottom: 20px;
            .tab_btn{
                position: relative;
                font-size: 15px;
                font-weight: $fw-medium;
                line-height: 1.53;
                color:$graya;
                padding-bottom: 9px;
                margin-right:24px;
                &:last-child{margin-right: 0;}
                &.active{
                    font-weight: $fw-bold;
                    color: $gray2;
                    &::after{
                        content: "";
                        position: absolute;
                        width:100%;
                        height: 2px;
                        left:0;
                        bottom:-1px;
                        border-radius: 1px;
                        background:$gray3;
                    }
                }
            }
        }
        .brand_stick{
            display: flex;
            width:100%;
            padding: 11px 12px;
            border-radius: 4px;
            background-color: $color-fa;
            .brand_stick__name{
                font-size: 12px;
                line-height: 1.5;
                color: $gray5;
                @include single-ellipsis;
            }
        }
    }
    .interest_brand{
        .add_brand{
            &::before{
                content: "";
                margin-top: -18px;
                width:40px;
                height:40px;
                background: url($s3-path+'img/m/m_lnb/icon_brand_empty.png') no-repeat center;
                background-size: 40px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height:280px;
            .info{
                margin:8px 0 22px;
                font-size: 14px;
                line-height: 1.5;
                color: $gray8;
            }
        }
        .swiper-wrapper{
            min-height:220px;
        }
        .brand_paging{
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 12px;
            padding-bottom: 4px;
            width:100%;
            text-align: center;
            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                display: inline-block;
                border-radius: 100%;
                background: $color-e6;
                opacity: 1;
                margin-left:0;
                margin-right: 9px;
                &:last-child{margin-right: 0;}
            }
            .swiper-pagination-bullet-active {
                opacity: 1;
                background: $gray3;
            }
        }
    }
    .brand_stick__wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .brand_stick{
            width:calc(50% - 2px);
            margin-bottom: 4px;
        }
    }
    .brand_allview{
        margin-top: 20px;
        text-align: center;
    }
    .brand_btn{
        width:160px;
        height:40px;
        border-radius: 4px;
        font-size: 14px;
        color:$gray2;
        border: 1px solid $gray3;
        background-color: $white;
    }
}
