.category_best{
    background: $white;
    .comp_menu_swiper{padding-bottom: 20px;}
    .child_swiper{
        padding-bottom: 38px;
        .swiper-pagination,
        .swiper-pagination-bullets{
            width: 100%;
            bottom:30px;
            >span, .swiper-pagination-bullet{
                width:6px;
                height:6px;
                background: $color-e6;
                opacity: 1;
                margin-left:0;
                margin-right:9px;
                &:last-child{margin-right: 0;}
                &.swiper-pagination-bullet-active{
                    background: $gray3;
                }
            }
        }
    }
    .child_swiper__slide{
        box-sizing: border-box;
        overflow: hidden;
    }
    .child_swiper__lists{
        .child_link{display: block;}
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding:0 16px;
    }
    .child_swiper__list{
        width:calc(50% - 4px);
        overflow: hidden;
        .img_wrap{
            position: relative;
            width:100%;
            padding-top: 100%;
            background: $white;
            .cover_img{@include thumbnail;}
            &::before{
                content: "";
                @include thumOverDeem;
            }
        }
        .info_container{
            .brand{
                font-size: 12px;
                font-weight: $fw-bold;
                color: $gray2;
                @include single-ellipsis;
              }
            .desc{
                  margin-top: 9px;
                  font-size: 13px;
                  color: $gray5;
                  @include single-ellipsis;
              }
            .price{
                margin-top: 8px;
                font-size: 13px;
                font-weight: $fw-bold;
                color: $gray2;
            }
        }
    }
}