@charset "UTF-8";
.cpp_content{
    @include hide-scroll();
    background: $white;
    .cpp_container{
        .category_short{
            position: fixed;
            left:0;
            // top:6px; //52px
            top: calc(6px + constant(safe-area-inset-top));
            top: calc(6px + env(safe-area-inset-top));
            width:100%;
            height:44px;
            z-index: 101;
            background: $white;
            transform: translateY(0);
            transition: transform .2s ease-in-out;
            &.is_show{
                transform: translateY(45px);
            }
            .swiper-slide{
                width:auto;
                &:first-child{margin-left: 8px;}
                &:last-child{margin-right: 8px;}
            }
            .category_link{
                font-size: 14px;
                line-height: 1.5;
                color: $gray2;
                padding:12px
            }
        }
    }

    .black_deem{
        position: fixed;
        z-index:101;
        width:100%;
        height:100%;
        left:0;
        top: constant(safe-area-inset-top);
        top: env(safe-area-inset-top);
        background: rgba($black,.5);
    }
    /*
        pub team use this layout
        but
        dev team apply flex layout
    */
    .product_wrap{display: flex;flex-wrap: wrap;}    
    
}