.safety_campaign_wrap {
    background-color: $white;

    .full_img {width: 100%;}
    .top_img_box {
        width: 100%;
        height: 50vw;
        background-color: #1f1e2b;
    }
    .safety_campaign {
        &_container {padding: 34px 0 40px;}
        &_box {
            margin-left: 16px;
            margin-right: 16px;
        }
        &_h2 {
            margin-bottom: 16px;
            font-size: 20px;
            line-height: 28px;
            font-weight: $fw-medium;
            color: $gray2;
        }
        &_h3 {
            font-size: 18px;
            line-height: 27px;
            font-weight: $fw-bold;
            color: $gray2;
        }
        &_h4 {
            font-size: 16px;
            line-height: 24px;
            font-weight: $fw-bold;
            color: $gray2;
        }
        &_bold {font-weight: $fw-semibold;}
        &_emph {
            font-size: inherit;
            color: $primary;
        }
        &_link_emph {
            color: $primary;
            text-decoration: underline;
        }
        &_top_text {
            margin-bottom: 8px;
            word-break: keep-all;
            font-size: 14px;
            line-height: 21px;
            color: $gray5;
        }
        &_subtext {
            font-size: 13px;
            line-height: 1.54;
            color: $gray8;
        }
        &_black {color: $gray2;}
        &_btn_box {
            margin-top: 20px;
            margin-bottom: 40px;
            text-align: center;

            .campaign_btn {
                display: inline-block;
                width: 100%;
                max-width: 200px;
                padding: 14px 0 13px;
                box-sizing: border-box;
                border: 0;
                border-radius: 34px;
                background-color: $black;
                font-size: 14px;
                line-height: 1.5;
                font-weight: $fw-regular;
                color: $white;
                outline: none;
            }
        }
    }
    .safety_campaign_tab {
        position: sticky;
        position: -webkit-sticky;
        top: 52px;
        z-index: 300;
        transition: top 0.2s ease;
        -webkit-transition: top 0.2s ease;

        &.scroll_down {top: 0;}
        .tabs_nav {
            display: flex;
            align-items: center;
            justify-content: stretch;

            .tab_item {
                flex: 1;
                background-color: $black;

                .tab_box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    min-height: 60px;
                    padding: 18px 0;
                    text-align: center;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: $fw-semibold;
                    color: $gray8;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 24px;
                        background-color: $gray3;
                    }
                }
                &:last-child .tab_box::after {background-color: $black;}
            }
            .tab_on {
                background-color: $primary;

                .tab_box {
                    color: $white;

                    &::after {
                        right: auto;
                        left: -1px;
                        background-color: $black;
                    }
                }
            }
        }
    }
    .process_countereit {
        margin-bottom: 32px;
        background-color: $color-fa;
        .btn_box {
            padding-bottom: 40px;
            text-align: center;
            .campaign_btn {
                display: inline-block;
                width: 100%;
                max-width: 200px;
                padding: 14px 0 13px;
                box-sizing: border-box;
                border: 0;
                border-radius: 34px;
                background-color: $black;
                font-size: 14px;
                line-height: 1.5;
                font-weight: $fw-regular;
                color: $white;
                outline: none;
            }
        }
    }
    .campaign_content {
        .campaign_compensation_policy {
            margin-top: 50px;
            padding-top: 34px;
            border-top: 1px solid $color-f5;

            .img_box {
                margin: 16px 14px 18px;
            }
        }
        .campaign_table_box {
            margin-bottom: 8px;
            border-top: 1px solid $gray5;

            .campaign_table {
                width: 100%;
                border-collapse: collapse;
                table-layout: fixed;
            }
            th {
                padding: 12px 0 11px;
                border-bottom: 1px solid $color-e6;
                border-right: 1px solid $color-e6;
                background-color: $color-fa;
                vertical-align: middle;
                font-size: 14px;
                font-weight: $fw-semibold;
                line-height: 21px;
                color: $gray2;

                &:last-child {border-right: none;}
            }
            td {
                height: 26px;
                padding: 9px 12px;
                border-bottom: 1px solid $color-e6;
                border-right: 1px solid $color-e6;
                font-size: 14px;
                line-height: 21px;
                vertical-align: middle;
                word-break: keep-all;
                color: $gray5;

                &:last-child {border-right: none;}
            }
            .td_center {text-align: center;}
        }
        .campaign_qna_container {
            margin: 34px 16px 0;

            .safety_campaign_h2 {margin-bottom: 11px;}
            .campaign_qna_box {
                padding-bottom: 20px;
                border-bottom: 1px solid $color-f5;
                margin-bottom: 20px;
            }
            .campaign_question {
                font-size: 14px;
                line-height: 1.5;
                color: $gray2;
                margin-bottom: 4px;
            }
            .campaign_answer {
                font-size: 13px;
                line-height: 1.54;
                color: $gray8;

                .qna_link {
                    color: $gray5;
                    text-decoration: underline;
                }
            }
        }
        .campaign_delay_delivery {
            margin: 47px 16px 0;

            .safety_delay_table {
                margin-top: 12px;

                th {
                    padding: 12px 0 11px;
                    color: $gray2;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 1.54;
                    word-break: break-all;
                }
                td {
                    padding: 6px 8px;
                    font-size: 13px;
                    line-height: 1.54;
                    word-break: break-all;
                }
                thead td {
                    padding: 11px 8px;
                    height: auto;
                }
            }
            .safety_delay_notice {
                margin-top: 16px;

                .safety_delay_title {
                    font-size: 13px;
                    line-height: 1.54;
                    color: $gray5;
                }
                .safety_delay_text {
                    margin-top: 2px;
                    line-height: 1.54;
                    color: $gray8;
                    font-size: 13px;

                    .num {
                        display: inline-block;
                        min-width: 11px;
                        margin-right: 1px;
                        font-size: inherit;
                        color: inherit;
                    }
                }
                .safety_delay_text_sub {
                    margin-left: 12px;
                    font-size: 13px;
                    color: $gray8;
                }
                .safety_delay_text_dot {
                    position: relative;
                    padding-left: 10px;
                    margin-left: 11px;
                    font-size: 13px;
                    color: $gray8;

                    &::before {
                        content: '•';
                        position: absolute;
                        left: -1px;
                        font-size: 1.15em;
                        line-height: 1em;
                        color: $graya;
                    }
                }
            }
            .safety_soldout_coupon {
                margin-top: 6px;
                font-size: 13px;
                line-height: 1.54;
                color: $gray8;
            }
        }
        .campaign_case_damage {
            margin: 46px 16px 0;

            .campaign_table_box {
                margin-top: 12px;

                td {
                    padding: 8px 10px;
                    line-height: 1.43;
                    &:last-child {padding-right: 2px;}
                }
            }
        }
        .campaign_reporting {
            margin: 25px 16px 0;

            .safety_campaign_h4 {margin-bottom: 4px;}
            .campaign_reporting_text {
                font-size: 13px;
                font-weight: $fw-regular;
                line-height: 22px;
                color: $gray2;
            }
        }
        .online_genuine_guide_card {
            display: flex;
            align-items: flex-start;
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid $color-f5;

            &:first-child {
                margin-top: 22px;
            }
            .genuine_guide_thumb {
                width: 80px;
                margin-right: 16px;
            }
            .genuine_guide_title {
                font-size: 18px;
                font-weight: $fw-bold;
                line-height: normal;
                color: $gray2;
            }
            .genuine_guide_text {
                margin-top: 4px;
                font-size: 14px;
                line-height: 21px;
                color: $gray5;
            }
            .genuine_guide_dot_box {margin-top: 4px;}
            .genuine_guide_dot {
                position: relative;
                padding-left: 9px;
                font-size: 14px;
                line-height: 21px;
                color: $gray5;

                &::before {
                    content: '•';
                    position: absolute;
                    top: 0;
                    left: -4px;
                    color: $gray8;
                    font-size: inherit;
                }
            }
        }
        .monitoring_container {
            padding: 36px 0;
            margin-top: 36px;
            background-color: $graye;

            .monitoring_title {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $gray2;
            }
            .monitoring_title_sub {
                font-size: 16px;
                font-weight: bold;
                line-height: normal;
                text-align: center;
                color: $gray2;
            }
            .monitoring_box01 {margin: 20px 16px 0;}
            .monitoring_box02 {
                margin: 22px 16px 0;
                .monitoring_item {
                    padding-bottom: 14px;
                    
                    .list_title {margin-top: 13px;}
                }
            }
            .monitoring_list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 17px;
            }
            .monitoring_item {
                position: relative;
                width: calc(50% - 4px);
                min-height: 191px;
                padding: 18px 20px 40px;
                margin-bottom: 8px;
                border-radius: 8px;
                background-color: $white;

                .img_thum {width: 48px;}
                .list_title {
                    margin-top: 8px;
                    font-size: 14px;
                    font-weight: $fw-bold;
                    line-height: normal;
                    color: $gray2;
                }
                .list_desc {
                    margin-top: 6px;
                    font-size: 13px;
                    line-height: 1.54;
                    color: $gray2;
                    word-break: keep-all;
                }
                .list_person {
                    position: absolute;
                    bottom: 14px;
                    left: 20px;
                    right: 20px;
                    font-size: 12px;
                    line-height: 1.75;
                    color: $primary;
                }
            }
        }
        .after_service_box {
            margin: 52px 16px;

            .after_service_card {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 25px 0;
                border-top: 1px solid $color-f5;

                .after_service_thumb {
                    width: 80px;
                    margin-right: 16px;
                }
                .after_service_text_box {flex: 1;}
                .after_service_title {
                    margin-top: 1px;
                    font-size: 18px;
                    font-weight: $fw-bold;
                    line-height: normal;
                    color: $gray2;
                }
                .after_service_text {
                    margin-top: 8px;
                    font-size: 14px;
                    line-height: 1.5;
                    color: $gray5;
                }
            }
        }
        .compensation_policy {
            padding: 38px 0 40px;
            background-color: $graye;

            &_title {
                margin-bottom: 33px;
                font-size: 20px;
                font-weight: $fw-bold;
                line-height: normal;
                text-align: center;
                color: $gray2;
            }
            &_list {margin: 0 30px;}
            &_item {
                position: relative;
                padding-bottom: 34px;
                margin-bottom: 15px;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 19px;
                    height: 19px;
                    background: url($s3-path + 'img/m/m_contents/icon-compensation-policy-arrow.png') no-repeat center top / contain;
                }
                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    &::after {content: none;}
                }
            }
            &_card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 23px 21px 22px 28px;
                border-radius: 8px;
                background-color: $white;
            }
            &_text_box {
                flex: 1;
                margin-right: 22px;

                .text_step {
                    font-size: 14px;
                    font-weight: $fw-medium;
                    line-height: 1;
                    color: $primary;
                }
                .text_title {
                    margin-top: 8px;
                    font-size: 17px;
                    font-weight: $fw-bold;
                    line-height: 1;
                    color: $black;
                }
                .text_desc {
                    margin-top: 7px;
                    font-size: 14px;
                    line-height: 1.43;
                    color: $gray2;
                }
            }
            &_img_box {width: 70px;}
            + .safety_campaign_btn_box {
                margin-bottom: 0;
                margin-top: 24px;
            }
        }
    }
    .seller_monitoring_contents {padding-bottom: 0;}
}
