.creditcard_benefit_container {

    h3{
        margin-top: 24px;
    }

    p {
        font-size: 14px;
        line-height: 1.43;
        color: $gray2;
        &.mt16 {
            margin-top: 16px;
        }
        // + h3 {
        //     margin-top: 24px;
        // }
    }
    .dot {
        position: relative;
        padding-left: 9px;
        color: $gray5;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background-color: $gray8;
        }
        + p {
            margin-top: 8px;
        }
    }
    h3 {
        font-size: 16px;
        font-weight: $fw-bold;
        line-height: 1.5;
        color: $gray2;
        + .table_wrap {
            margin-top: 8px;
        }
    }
    .table_wrap {
        border-top: 1px solid $gray5;
        + h3 {
            margin-top: 24px;
        }
        table {
            width: 100%;
            table-layout: fixed;

            &.pd10 {
                td {
                    padding: 10px 0;
                }
            }
            + .table_info {
                margin-top: 12px;
            }
            th,
            td {
                border-left: 1px solid $color-e6;
                border-bottom: 1px solid $color-e6;
                &:first-child {
                    border-left: 0;
                }
            }
            th {
                padding: 10px 0;
                font-size: 14px;
                font-weight: $fw-regular;
                line-height: 1.43;
                text-align: center;
                color: $gray2;
                background: $color-fa;
            }
            td {
                padding: 8px 0;
                font-size: 0;
                line-height: 0;
                vertical-align: middle;
                text-align: center;
                p {
                    font-size: 14px;
                    line-height: 1.43;
                    color: $gray5;
                }
            }
            a {
                display: block;
                width: 100%;
                font-size: 13px;
                line-height: 18px;
                color: $color-48a;
                text-align: center;
                text-decoration: underline;
            }
        }
        .table_info {
            position: relative;
            padding-left: 9px;
            font-size: 13px;
            line-height: 1.38;
            color: $gray8;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 8px;
                width: 3px;
                height: 3px;
                border-radius: 100%;
                background-color: $graya;
            }
            + .table_info {
                margin-top: 4px;
            }
        }
    }
}
